/*dark mode*/
:root{
--bg: #252525;      /* background-color */
--hd-bg: #000000;       /* header-background */
--border: #ffffff;
--fg: #f0f0f0;      /* foreground */

}

/* setup */

body{
    margin: 0;
    padding: 0;
    height: 2000px;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Montserrat',sans-serif;       /* Montserrat font */
}

a {
    all: unset;     /* remove link css */
}

/* top-bar: header + nav */

#top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, var(--hd-bg) , var(--bg));
}

header {
    display: flex;
    height: 10vh;
    padding: 0 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}

header #brand {
    display: flex;
    font-size: 1rem;
    align-items: center;
    gap: 1rem;
}

nav {
    display: flex;
    height: 5vh;
    border-bottom: 2px solid var(--border);
    font-size: 1.5rem;
    margin: 0 4rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav #nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

nav #nav-links li a{
    font-size: medium;
}

/* content */

#main-content {
    position: relative;
    z-index: 7;
    margin: 5vh 2vh 0 2vh;
    max-width: 750px;
    line-height: 1.5;
}