/* Đảm bảo <html> và <body> chiếm hết chiều cao */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ẩn thanh cuộn ngang nếu có */
}

body {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column; /* Đặt các thành phần theo cột */
}

main {
    flex: 1; /* Để <main> chiếm phần còn lại của chiều cao */
    max-height: 80vh; /* Giới hạn chiều cao */
    overflow-y: auto; /* Hiển thị thanh cuộn khi cần */
    width: 100%; /* Đảm bảo không có thanh cuộn ngang cho <main> */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

.app-button {
    display: flex; /* Sử dụng Flexbox để bố trí các phần tử bên trong */
    align-items: center; /* Canh giữa theo chiều dọc */
    padding: 15px;
    text-align: left; /* Canh trái các phần tử bên trong */
    background-color: #000;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    transition: background-color 0.3s;
    width: calc(100vw - 15%); /* Chiếm gần hết chiều ngang, chừa 15% mỗi bên */
    height: 70px; /* Chiều cao nút */
    margin: 0 auto; /* Canh giữa */
}

.app-icon {
    width: 50px;  /* Kích thước icon */
    height: 50px; /* Kích thước icon */
    margin-right: 15px; /* Khoảng cách giữa icon và tên ứng dụng */
}

.app-info {
    display: flex;
    flex-direction: column; /* Sắp xếp tên và mô tả theo chiều dọc */
}

.app-name {
    font-size: 18px; /* Kích thước chữ cho tên ứng dụng */
    margin-bottom: 5px; /* Khoảng cách giữa tên và mô tả */    
}

.app-description {
    font-size: 14px; /* Kích thước chữ cho mô tả */
    color: #ddd; /* Màu sắc cho mô tả */
}

.app-button:hover {
    background-color: #0056b3;
}