/* dllist.css */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

.app-button {
    display: flex; /* Sử dụng Flexbox để bố trí các phần tử bên trong */
    align-items: center; /* Canh giữa theo chiều dọc */
    padding: 15px;
    text-align: left; /* Canh trái các phần tử bên trong */
    background-color: #000;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    transition: background-color 0.3s;

    /* Đặt chiều rộng chiếm gần hết chiều ngang màn hình, chừa khoảng cách */
    width: calc(100vw - 15%); /* Chiếm gần hết chiều ngang, chừa 15% mỗi bên */
    height: 70px; /* Chiều cao nút */
    margin: 0 auto; /* Canh giữa */
}

.app-icon {
    width: 50px;  /* Kích thước icon */
    height: 50px; /* Kích thước icon */
    margin-right: 15px; /* Khoảng cách giữa icon và tên ứng dụng */
}

.app-info {
    display: flex;
    flex-direction: column; /* Sắp xếp tên và mô tả theo chiều dọc */
}

.app-name {
    font-size: 18px; /* Kích thước chữ cho tên ứng dụng */
    margin-bottom: 5px; /* Khoảng cách giữa tên và mô tả */    
}

.app-description {
    font-size: 14px; /* Kích thước chữ cho mô tả */
    color: #ddd; /* Màu sắc cho mô tả */
}

.app-button:hover {
    background-color: #0056b3;
}