/* CSS dành riêng cho phần giao diện tải game */
.game-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid white;
}

.game-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.game-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 5px;
}

.game-title {
    font-size: 24px;
    font-weight: bold;
    color: #f1f1f1;
}

.download-section {
    margin-top: 30px;
    text-align: center;
     -webkit-tap-highlight-color: transparent; /* Xóa highlight khi nhấn */       
     width: calc(100vw - 30px);     
}

.version-selector {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.version-select {
    background-color: #444;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.version-select:focus {
    outline: none;
    background-color: #555;
}

.download-btn {
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #2980b9;
}

.game-description {
    margin-top: 30px;
    font-size: 16px;
    color: #f1f1f1;
    text-align: center;
}

#footer-container {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: white;
    font-size: 14px;
    margin-top: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* Đảm bảo rằng nút tải xuống không bị ảnh hưởng bởi CSS khác */
#download-link {
    display: inline-block;
    text-decoration: none;
}