.header{text-align:left;height:75px;border-bottom:3px solid #fff;display:flex;align-items:center;justify-content:left}
#logo{border:.1mm solid #fff}
body{background:#000;color:#fff;height:2000px}
@keyframes rainbow{0%{color:red}20%{color:#f90}40%{color:#ff0}60%{color:lime}80%{color:blue}100%{color:#90f}}
a{text-decoration:none;color:cyan}
a:hover{animation:rainbow 3s infinite}
.rainbow{animation:rainbow 2s infinite}
footer{text-align:center;border-top:2px solid #fff;width:100%;position:fixed;bottom:0;left:0;background:#000}
.list{border:2px solid #fff;border-radius:10px;width:100px;padding:10px;margin:20px 0 20px 5px;text-align:center}
.list2{text-align:left;border:2px solid #fff;padding:5px}
.list3{border:2px solid #fff;padding:5px}
ul{padding:0;margin:0}
.hide{list-style-type:none}
.but{position:fixed;bottom:80px;right:5px;background:#000;color:#fff;border:1px solid #fff;font-size:50px;border-radius:100px;cursor:pointer;transition:opacity 0.3s}
.hidden{opacity:0;pointer-events:none}
.border{border:2px solid #fff}
.right{position:relative;right:0}
white{background:#fff}
nav{display:flex;color:#fff;gap:20px;padding:5px;text-align:center;align-items:center;justify-content:center}
nav a{color:#fff;text-decoration:none}
.app-store{padding:20px;background-color:#000}
.app-list{display:flex;flex-wrap:wrap;gap:20px;justify-content:center}
.app-item{background:#1e1e1e;border-radius:8px;box-shadow:0 8px 15px rgb(255 255 255 / .8);padding:10px;width:200px;text-align:center;transition:transform 0.3s ease}
.app-item:hover{transform:scale(1.05)}
.app-item img{max-width:100%;border-radius:8px}
.app-item h3{font-size:1.2em;margin:10px 0;color:#fff}
.app-item p{font-size:.9em;color:#ccc}
.app-item a button{background-color:#007bff;color:#fff;border:none;padding:10px 15px;border-radius:5px;cursor:pointer;font-size:1em;text-decoration:none}
.app-item a button:hover{background-color:#0056b3}
#hamburger{position:absolute;right:5%;font-size:40px;background-color:#000;color:#fff;cursor:pointer}
#menu{color:#fff;width:200px;height:93%;padding:20px;position:fixed;background:#000;top:0;left:-350px;transition:left 0.3s ease;border:2px solid #fff;z-index:100;display:flex;flex-direction:column;align-items:flex-start}
#menu.visible{display:flex;left:0}
#menu a{text-decoration:none;color:#fff;padding:10px;border-bottom:1px solid #fff;width:100%;text-align:left;transition:background-color 0.3s}
#menu a:hover{background-color:#333}
.dropdown{position:relative}
.dropbtn{display:block;color:#fff;padding:10px;text-decoration:none;border-bottom:1px solid #fff;width:100%;text-align:left;transition:background-color 0.3s}
.dropbtn:hover{background-color:#333}
.dropdown-content{display:none;position:absolute;background-color:#000;min-width:160px;z-index:1}
.dropdown-content a{color:#fff;padding:10px;text-decoration:none;display:block;transition:background-color 0.3s}
.dropdown-content a:hover{background-color:#333}
.dropdown:hover .dropdown-content{display:block}